<nav class="navbar">
    <a href="/" class="nav-logo">eksplendor</a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="/places/usermap" class="nav-link">Your Map</a>
        </li>
        <li class="nav-item">
            <a href="/places" class="nav-link">All Places</a>
        </li>
        <li class="nav-item">
            <a href="/places/new" class="nav-link">Add Place</a>
        </li>
        <% if (!currentUser){%>
        <li class="nav-item">
            <a href="/user/login" class="nav-link">Log In</a>
        </li>
        <li class="nav-item">
            <a href="/user/register" class="nav-link">Sign Up</a>
        </li>
        <% } else { %>
        <li class="nav-item">
            <a href="/user/logout" class="nav-link">Sign Out</a>
        </li>
        <% } %>
    </ul>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>
