<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script id="search-js" defer src="https://api.mapbox.com/search-js/v1.0.0-beta.16/web.js"></script>
  <script>
    const accessToken = 'pk.eyJ1Ijoicm9iYWtyeSIsImEiOiJjbGl5bWRmMTMwamsxM2NwaHhpNHlhM2dpIn0._UNTQY4WU2L5oe0r6BHAXA';

    const script = document.getElementById('search-js');
    script.onload = function() {
      mapboxsearch.autofill({
        accessToken
      });
    };
  </script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="/css/style.css">

  <title>Eksplendor</title>
</head>

<body>
  <%- include('../partials/navbar') %>
  <%- include('../partials/flash') %>

  <main>
    <%- body %>
  </main>

  <%- include('../partials/footer') %>
  
  <script src="/js/hamburger.js"></script>
</body>

</html>