<% layout('layouts/boilerplate') %>
    <div class="error-wrapper">
        <h1 class="title">Upss, coś poszsło nie tak :(</h1>
        <div class="error">
            <h2>
                <%= err.message %> (Błąd <%= err.status %>)
            </h2>
        </div>
    </div>